@charset "windows-1250"; 
  

body       {font-family: Verdana,Arial; background-color:  #ffff63}  
a          {color: black; text-decoration: none}
h2         {text-align: center; color: #187899}

.hlavni    {table-layout: fixed; height: 1200px; width: 1000px; overflow: auto} 

.pozadi	   {height: 300px; width: 1000px}
.horni     {height: 300px; width: 1000px; border-style: none}
.dolni     {border: solid black 1px}
.vyber     {height: 30px; width: 190px; background-color: yellow; margin-top: 0.3em; text-align: center; line-height: 170%; font-weight: bold; border: solid black 1px; color: #187899}
.tabulka   {width: 600px; border-style: solid; border-color: black; border-width: 1px}
.portret   {width: 80px}	


.levy      {float: left; height: 910px; width: 194px; background-image: url("bok.bmp")}
.pravy   {float: left; height: 900px; width: 787px; padding: 5px; overflow: auto; background-color: white}


.textodkaz {color: blue; text-decoration: underline}
.nahled    {height: 80px}
 #ffff63